 
<head>
    <base href="/">
</head>

<div class="container">
    <app-root BASEURI=@Model></app-root>
</div>



<script type="text/javascript" src="~/FrontendAngular/frontend/dist/frontend/runtime.js"></script>
<script type="text/javascript" src="~/FrontendAngular/frontend/dist/frontend/polyfills.js"></script>
<script type="text/javascript" src="~/FrontendAngular/frontend/dist/frontend/vendor.js"></script>
<script type="text/javascript" src="~/FrontendAngular/frontend/dist/frontend/main.js"></script>